* {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
}
html {
    height: 100%;
}
body {
    height: 100%;
}
.body {
    background: linear-gradient(0deg, rgba(16, 37, 78, 0.7), rgba(16, 37, 78, 0.7)), url('/PPDB/media/image/monumen-sma-pradita-dirgantara-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
header img{
    max-height: 5rem;
}

nav {
    background-color: rgba(27,36,95,1);
}
main {
    padding-top: 3rem;
}
main h1, h2{
    padding-top: .5rem;
}

.timer-app {
    margin-bottom: 3rem;
    margin-top: 3rem;
}

table {
    background-image: linear-gradient(to right, rgba(20,28,161,0.5), rgba(53,92,205,0.5));
}

table th {
    font-size: 1rem;
}
#timer-table {
    border-radius: 0.5rem;
}

.display-2{
    width: 2rem;
}
.display-1 {
    width: 0.5rem;
}
